.tooltip {
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transform: translate(-50%, -50%); */
    height: 30px;
    width: 150px;
    background-color: white;
    /* top: 200px;
    left: 200px; */
    border-radius: 12px;

}

.tooltip-main {
    padding: 5px 20px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
}

.map {
    position: relative;
    background-color: #242254;
    fill: #e7e7e7;
}





svg>path:focus {
    border: none;
    outline: none;
}

.country{
    fill: #d69eb2;
    transition: fill 0.2s ease-in-out;
}
.your-hover-class {
    fill: #D5185C;
    transition: fill 0.2s ease-in-out;
}