ul>li>div span svg {
    transform: rotate(0deg);
}

ul>li:hover>div span svg {
    transform: rotate(0deg);
}

.clicked {
    transform: rotate(180deg);
}


li:hover>ul {
    transform: translatex(0%) scale(1);
}

ul>li {
    padding: 7px;
}

li>ul {
    padding: 4px;
    margin: 0px;
}

li:hover {
    transform: scale(1.08);
    background-color: red;
}

li>ul {
    background-color: #a2a2c3;
    padding: 10px;
}

li>ul>li:hover {
    background-color: #242254;
    border-radius: 5px;
}